body {
  font-family: helvetica,"sans-serif";
  font-size: 18px;
  text-align: center;
}
.main {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
.about {
  font-weight: bold;
  color: white;
}
