body {
  font-family: helvetica,"sans-serif";
  font-size: 18px;
  text-align: center;
}
.main {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
.about {
  font-weight: bold;
  color: white;
}
h1 {
  font-size: 70px
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
.footer {
  font-size: 11px;
  background-color: dimgray;
}
